body {
  font-family: system-ui;
  background: #fff;
  color: black;
  text-align: center;
}

.instrukcje {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left:auto; 
    margin-right:auto;
}

.instrukcje td, .instrukcje th {
  border: 1px solid #ddd;
  padding: 8px;
}

.instrukcje tr:nth-child(even){background-color: #f2f2f2;}

.instrukcje tr:hover {background-color: #ddd;}

.instrukcje th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

footer {
  margin-top: 50px;
  border-top-style: dotted;
}